@using FlagQuiz.Models.ViewModels;
@model QuizViewModel

<div class="container">
    <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2>Flag Quiz!</h2>
        <span class="text-center">@Model.Index of @Model.TotalQuestions</span>
    </div>
    <div>
        @Html.Partial("_FlagOption", Model.Question)
    </div>    
    <div class="col-md-12 col-lg-12 col-sm-12 " id="div-next"style="text-align: center;display:none">
        @if (@Model.Index + 1 > Model.TotalQuestions)
        {
            <input type="button" id="next" class="btn-lg btn btn-info next" onclick="location.href='@(Url.Action("Result", "FlagQuiz"))'" value="Result" />
        }
        else
        {
            <input type="button" id="next" class="btn-lg btn btn-info next"  onclick="location.href='@(Url.Action("Flags", "FlagQuiz", new { indexQuestion = @Model.Index + 1 }))'" value="Next" />
        }
    </div>
</div>


<script>

    const questionId = @Model.Question.IdQuestion;
    const answered = false;
    function submitAnswer(idAnswer) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckAnswer", "FlagQuiz")',
                data: { "indexQuestion": questionId, "idAnswer": idAnswer},
                cache: false,
                success: function (data) {
                    if (data.correct) {
                        $("#" + idAnswer).removeClass("btn-outline-primary");
                        $("#" + idAnswer).addClass("btn-outline-success active");
                    } else {
                        $("#" + idAnswer).removeClass("btn-outline-primary");
                        $("#" + idAnswer).addClass("btn-outline-danger active");
                    }
                    $("#div-next").show();
                }
            }).done(function () {
                $(".option").addClass("option-disabled");

            }
                );
        }
</script>
