@using FlagQuiz.Models.ViewModels;
@model QuizViewModel

<div class="container">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2>Flag Quiz!</h2>
        <span class="text-center">@Model.Index of @Model.TotalQuestions</span>
    </div>

    <div class=" row col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="text-align:right">
            <img src="~/Content/Image/@Model.Question.Flag.Image" class="flag" />
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-left:3rem">
                @foreach (var option in Model.Question.Options)
                {
                    <button id="@option.IdFlag" value="@option.IdFlag" type="button" class=" btn  btn-outline-primary option" onclick="submitAnswer(this.id)"> @option.Country</button>
                }
            </div>

        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="text-align:center">
        @if (@Model.Index + 1 > Model.TotalQuestions)
        {
            <input type="button" id="next" class="btn-lg btn btn-info next" style="display:none" onclick="location.href='@(Url.Action("Result", "FlagQuiz"))'" value="Next" />
        }
        else
        {
            <input type="button" id="next" class="btn-lg btn btn-info next" style="display:none" onclick="location.href='@(Url.Action("Flags", "FlagQuiz", new { id = @Model.Index + 1 }))'" value="Next" />
        }
    </div>
</div>


<script>

    const questionId = @Model.Question.IdQuestion;
    const answered = false;
        function submitAnswer(idOption) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckAnswer", "FlagQuiz")',
                data: { "idQuestion": questionId, "idOption": idOption},
                cache: false,
                success: function (data) {
                    if (data.correctAnswer) {
                        $("#" + idOption).removeClass("btn-outline-primary");
                        $("#" + idOption).addClass("btn-outline-success active");
                    } else {
                        $("#" + idOption).removeClass("btn-outline-primary");
                        $("#" + idOption).addClass("btn-outline-danger active");
                    }
                    $("#next").show();
                }
            }).done(function () {
                $(".option").addClass("option-disabled");

            }
                );
        }
</script>
